################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TPF-SIMON/TPF-SIMON.VC.VC.opendb
/TPF-SIMON/TPF-SIMON.VC.db
/TPF-SIMON/TPF-SIMON.sln
/TPF-SIMON/TPF-SIMON/TPF-SIMON.vcxproj.filters
/TPF-SIMON/TPF-SIMON/TPF-SIMON.vcxproj
/TPF-SIMON/.vs/TPF-SIMON/v14/.suo
/TPF-SIMON/.vs/TPF-SIMON/v14
