################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TPF-SIMON/TPF-SIMON.VC.VC.opendb
