################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TPF-SIMON/TPF-SIMON.VC.VC.opendb
/TPF-SIMON/TPF-SIMON.VC.db
/TPF-SIMON/TPF-SIMON.sln
/TPF-SIMON/TPF-SIMON/TPF-SIMON.vcxproj.filters
/TPF-SIMON/TPF-SIMON/TPF-SIMON.vcxproj
/TPF-SIMON/.vs/TPF-SIMON/v14/.suo
/TPF-SIMON/.vs/TPF-SIMON/v14
*.config
/TPF-SIMON/TPF-SIMON/packages.config
*.inl
/TPF-SIMON/packages
/TPF-SIMON/Debug
/TPF-SIMON/TPF-SIMON/Release
/TPF-SIMON/TPF-SIMON/Debug/main.obj
*.idb
/TPF-SIMON/TPF-SIMON/Debug/TPF-SIMON.log
/TPF-SIMON/TPF-SIMON/Debug/vc140.pdb
*.tlog
/TPF-SIMON/x64/Release
*.obj
*.pdb
*.log
*.user
